<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
 
    <meta charset="utf-8">
    <title>Adminka</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Adminka">


    
    <link id="bs-css" href="{% static 'task/css/bootstrap-cyborg.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'task/css/bootstrap-slate.min.css' %}">
    <link href="{% static 'task/css/charisma-app.css' %}" rel="stylesheet">
    <link href='{% static "task/bower_components/fullcalendar/dist/fullcalendar.css" %}' rel='stylesheet'>
    <link href='{% static "task/bower_components/fullcalendar/dist/fullcalendar.print.css" %}' rel='stylesheet' media='print'>
    <link href='{% static "task/bower_components/chosen/chosen.min.css' rel='stylesheet" %}'>
    <link href='{% static "task/bower_components/colorbox/example3/colorbox.css" %}' rel='stylesheet'>
    <link href='{% static "task/bower_components/responsive-tables/responsive-tables.css" %}' rel='stylesheet'>
    <link href='{% static "task/bower_components/bootstrap-tour/build/css/bootstrap-tour.min.css" %}' rel='stylesheet'>
    <link href='{% static "task/css/jquery.noty.css" %}' rel='stylesheet'>
    <link href='{% static "task/css/noty_theme_default.css" %}' rel='stylesheet'>
    <link href='{% static "task/css/elfinder.min.css" %}' rel='stylesheet'>
    <link href='{% static "task/css/elfinder.theme.css" %}' rel='stylesheet'>
    <link href='{% static "task/css/jquery.iphone.toggle.css" %}' rel='stylesheet'>
    <link href='{% static "task/css/uploadify.css" %}' rel='stylesheet'>
    <link href='{% static "task/css/animate.min.css" %}' rel='stylesheet'>

  <link rel="icon" href="favicon.ico" type="image/x-icon">
    <script src="{% static 'task/bower_components/jquery/jquery.min.js' %}"></script>
 

</head>

<body>
 
    <div class="navbar navbar-default" role="navigation">

        <div class="navbar-inner">
            <button type="button" class="navbar-toggle pull-left animated flip">
                <span class="sr-only">Toggle navigation</span>
               
            </button>
         

            <div class="btn-group pull-right">
                <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    <i class="glyphicon glyphicon-user"></i><span class="hidden-sm hidden-xs"> admin</span>
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                
                    <li class="divider"></li>
                    <li><a href="login.html">Logout</a></li>
                </ul>
            </div>
         
            <div class="btn-group pull-right theme-container animated tada">
                <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    <i class="glyphicon glyphicon-tint"></i><span
                        class="hidden-sm hidden-xs"> Change Theme </span>
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" id="themes">

                    <li><a data-value="slate" href="#"><i class="whitespace"></i> Seriy</a></li>
                    <li><a data-value="cyborg" href="#"><i class="whitespace"></i> Cherni</a></li>
              
                   
               
                </ul>
            </div>
         

        

        </div>
    </div>
 
<div class="ch-container">
    <div class="row">
        
        
        <div class="col-sm-2 col-lg-2">
            <div class="sidebar-nav">
                <div class="nav-canvas">
                    <div class="nav-sm nav nav-stacked">

                    </div>
                   <ul class="nav nav-pills nav-stacked main-menu">
                        <li class="nav-header">Main</li>
                        <li><a class="ajax-link" href="{% url 'main_page' %}"><i class="glyphicon glyphicon-home"></i><span> Main Page</span></a>
                            <li><a class="ajax-link" href="{% url 'table_page' %}"><i class="glyphicon glyphicon-home"></i><span> Table</span></a>
                                <li><a class="ajax-link" href=""><i class="glyphicon glyphicon-home"></i><span> Work </span></a>
                                    <li><a class="ajax-link" href="{% url 'admin_table' %}"><i class="glyphicon glyphicon-home"></i><span> Setting</span></a>
                        </li>
                        
                </div>
            </div>
        </div>
        </noscript>

        <div id="content" class="col-lg-10 col-sm-10">
          
            <div>
    <ul class="breadcrumb">
        <li>
            <a href="#">Home</a>
        </li>
        <li>
            <a href="#">Task</a>
        </li>
    </ul>
</div>
 <div class="row">
    <div class="box col-md-12">
    <div class="box-inner">
    <div class="box-header well" data-original-title="">
        <h2><i class="glyphicon glyphicon-edit icon-white"></i>Task</h2>

   
    </div>
    <div class="box-content">
    <div class="alert alert-info"> <a href="http://datatables.net/" target="_blank"></a>

<input type="text"  placeholder ="NAME TASK" class="boxi" name="" id="NAME TASK">  <a class="btn btn-danger" href="#">
                <i class="
glyphicon glyphicon-send icon-white"></i>
                Apply

            </a>
    </div>
    <div class="cheks">
      <article class="feature1">
    <input type="checkbox" id="feature1"/>
    <div>
      <span>
       Launch FTP
       
      </span>
    </div>
  </article>
  
  <article class="feature2">
    <input type="checkbox" id="feature2"/>
    <div>
      <span>
      launch reverse shell
      </span>
    </div>
  </article>
  
  <article class="feature3">
    <input type="checkbox" id="feature3"/>
    <div>
      <span>
       launch socc5.
      </span>
    </div>
  </article>
  </div>

 
    <table class="table table-striped table-bordered bootstrap-datatable datatable responsive">
    <thead>
    <tr>
   
    
     
    
    </tbody>
    </table>
<input type="text"  placeholder ="Country" class="boxim" name="" id="search">


<form class="gehueu">
            <p>
                <label for="age"> repetitions: </label>
                <input class="dobus" type="number" step="1" min="1" max="100" value="1" id="age" name="age"/>
            </p>
          
        </form>






  <div class="chekss">
      <article class="feature1">
    <input type="checkbox" id="feature1"/>
    <div>
      <span>
       All Win X OC
       
      </span>
    </div>
  </article>
  
  <article class="feature2">
    <input type="checkbox" id="feature2"/>
    <div>
      <span>
      32x
      </span>
    </div>
  </article>
  
  <article class="feature3">
    <input type="checkbox" id="feature3"/>
    <div>
      <span>
      64x
      </span>
    </div>
  </article>
  </div>
<div class="select-box">
  <div class="select-box__current" tabindex="1">
    <div class="select-box__value">
      <input class="select-box__input" type="radio" id="0" value="1" name="Ben" checked="checked"/>
      <p class="select-box__input-text">All win</p>
    </div>
    <div class="select-box__value">
      <input class="select-box__input" type="radio" id="1" value="2" name="Ben"/>
      <p class="select-box__input-text">win7</p>
    </div>
    <div class="select-box__value">
      <input class="select-box__input" type="radio" id="2" value="3" name="Ben"/>
      <p class="select-box__input-text">win8</p>
    </div>
    <div class="select-box__value">
      <input class="select-box__input" type="radio" id="3" value="4" name="Ben"/>
      <p class="select-box__input-text">win10</p>
    </div>
    <div class="select-box__value">
      <input class="select-box__input" type="radio" id="4" value="5" name="Ben"/>
      <p class="select-box__input-text">win11</p>
    </div><img class="select-box__icon" src="http://cdn.onlinewebfonts.com/svg/img_295694.svg" alt="Arrow Icon" aria-hidden="true"/>
  </div>
  <ul class="select-box__list">
    <li>
      <label class="select-box__option" for="0" aria-hidden="aria-hidden">all win</label>
    </li>
    <li>
      <label class="select-box__option" for="1" aria-hidden="aria-hidden">win7</label>
    </li>
    <li>
      <label class="select-box__option" for="2" aria-hidden="aria-hidden">win8</label>
    </li>
    <li>
      <label class="select-box__option" for="3" aria-hidden="aria-hidden">win10</label>
    </li>
    <li>
      <label class="select-box__option" for="4" aria-hidden="aria-hidden">win11</label>
    </li>
  </ul>

</div>




    </div>


    </div>

    </div>
    <!--/span-->

    </div><!--/row-->

    
<style type="text/css">
    .rfjd{
background-color: red;
    }
</style>


<script src="{% static 'task/bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>
<script src="{% static 'task/js/jquery.cookie.js' %}"></script>
<script src="{% static 'task/bower_components/moment/min/moment.min.js' %}"></script>
<script src="{% static 'task/bower_components/fullcalendar/dist/fullcalendar.min.js' %}"></script>
<script src="{% static 'task/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'task/bower_components/chosen/chosen.jquery.min.js' %}"></script>
<script src="{% static 'task/bower_components/colorbox/jquery.colorbox-min.js' %}"></script>
<script src="{% static 'task/js/jquery.noty.js' %}"></script>
<script src="{% static 'task/bower_components/responsive-tables/responsive-tables.js' %}"></script>
<script src="{% static 'task/bower_components/bootstrap-tour/build/js/bootstrap-tour.min.js' %}"></script>
<script src="{% static 'task/js/jquery.raty.min.js' %}"></script>
<script src="{% static 'task/js/jquery.iphone.toggle.js' %}"></script>
<script src="{% static 'task/js/jquery.autogrow-textarea.js' %}"></script>
<script src="{% static 'task/js/jquery.uploadify-3.1.min.js' %}"></script>
<script src="{% static 'task/js/jquery.history.js' %}"></script>
<script src="{% static 'task/js/charisma.js' %}"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.6.0/chart.min.js"></script>
<script type="text/javascript">
   var ctx = document.getElementById('myChart').getContext('2d');
var myChart = new Chart(ctx, {
    type: 'doughnut',
    data: {
        labels: ['Win7', 'Winxp', 'Win8', 'Win10', 'Win11'],
        datasets: [{
            data: [27.92, 17.53, 14.94, 26.62, 12.99],
            backgroundColor: ['#b31a4e', '#00ae59', '#dc3906', '#0a599f', '#dbb700'],
            borderWidth: 0.5 ,
            borderColor: '#ddd'
        }]
    },
    options: {
        title: {
            display: true,
            text: 'Recommended Daily Diet',
            position: 'top',
            fontSize: 16,
            fontColor: '#111',
            padding: 20
        },
        legend: {
            display: true,
            position: 'bottom',
            labels: {
                boxWidth: 20,
                fontColor: '#111',
                padding: 15
            }
        },
        tooltips: {
            enabled: false
        },
        plugins: {
            datalabels: {
                color: '#111',
                textAlign: 'center',
                font: {
                    lineHeight: 1.6
                },
                formatter: function(value, ctx) {
                    return ctx.chart.data.labels[ctx.dataIndex] + '\n' + value ;
                }
            }
        }
    }
});

      
    </script>
   <script type="text/javascript">// Получение ссылки на элемент canvas в DOM
const $grafica = document.querySelector("#grafica");
// Tags - это метки, которые идут по оси X.  
const tags = ["32x", "64x"]
// У нас может быть несколько наборов данных. Давайте начнем с одного
const dataSales2020 = {
    label: "X OC",
    data: [10,14], // Данные представляют собой массив, который должен иметь такое же количество значений, как и количество тегов.
    backgroundColor: 'rgba(164, 67, 162, 0.2)', // Цвет фона
    borderColor: 'rgba(222, 11, 218, 1)', // Цвет границ
    borderWidth: 1,// Толщина границ
};
new Chart($grafica, {
    type: 'bar',// Тип графики - изменяем тип здесь.
    data: {
        labels: tags,
        datasets: [
            dataSales2020,
            // Больше данных ...
        ]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }],
        },
    }
});</script>
</body>
</html>
